@{
    ViewBag.Title = "Home Page";
}



<main>
    <link href="https://fonts.googleapis.com/css2?family=FontName&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url(/Content/themes/base/images/labyrinth-2037286_1920.jpg);
            overflow-y: hidden;
        }
        .card-header{
            padding-top:95px;
            padding-left:-40px;
        }
    </style>
    <div>
        <div style="font-family:Britannic; color: azure" class="card-header">
            <span><h2 style="font-size:50px;">The inventory,</h2></span>
            <span><h2 style="font-size:50px;">The value of my company,</h2></span>
            <span><h2 style="font-size:50px;">Walks out the door every evening.</h2></span>
        </div>

        @*<img src="~/Content/themes/base/images/labyrinth-g30f93134a_1280.jpg" />*@

        @*<img src="~/Content/themes/base/images/jackson-sophat-ENPezgtyAwA-unsplash.jpg" style=" object-fit: cover; width: 100%; height: 100%;" />*@
    </div>

</main>